
<div class="login">

<h3>Login</h3><br>
<div class="error" *ngIf = !loggedIn ><p>Incorrect credentials</p></div>
<form  (ngSubmit)= 'onSave()' autocomplete="off">
    <div class="form-group" >
      <label >UserName:</label>
      <input required #username = 'ngModel' [class.is-invalid] = 'username.invalid && username.touched' class='form-control' type = 'text' name = 'username' id = 'username' [(ngModel)] =userModel.username >
      <small class='text-danger' [class.d-none]='username.valid ||  username.untouched'>Username is required</small>
    
    </div>
    
    <div class="form-group" >
      <label >Password:</label>
      <input required #password = 'ngModel' [class.is-invalid] = 'password.invalid && password.touched' class='form-control' type = 'password' name = 'password' id = 'password' [(ngModel)] =userModel.password > 
      <small class='text-danger' [class.d-none]='password.valid ||  password.untouched'>Password is required</small>
   
    </div>

    
    <button class="btn btn-dark " id = 'loginButton'>Login</button>
    
    </form>
    <br>
    <a routerLink="/register">Not a user?</a>

  </div>
  