<!-- <form #city = 'ngForm' id='filter' (ngSubmit) = 'getWeather()'> 

    <input type="text" name='city' id='city' [(ngModel)] ='cityName.city' autocomplete="off">
   
    <button value="Search" class="btn btn-warning">Search</button>
</form> -->
<!-- <div id='autoSelect'>
        <ul id = 'list'>
            <li *ngFor='let cityName of cities | filter:cityName.city' (click)= 'onSelect(cityName)'><a>{{ cityName  }}</a></li>
        </ul>
    </div> -->
    {{currentLocation.name}}
    <div *ngIf ='currentLocation'>
            currentLocation : {{currentLocation.name}}<br>
            {{currentLocation.wind.speed}}<br>
            {{currentLocation.wind.deg}}<br>
            weather : {{currentLocation.weather[0].main}}<br>
            <!-- <a routerLink="register">Register</a> -->
            </div>
    <div class="weatherInfo">
        <h3>Weather Forecast</h3>

      <form #city = 'ngForm' id='filter' (ngSubmit) = 'getWeather()' class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" name='city' id='city' [(ngModel)] ='cityName.city' placeholder="Pick City" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    </div>
<div *ngIf ='weather'>
Name : {{weather.name}}<br>
{{weather.wind.speed}}<br>
{{weather.wind.deg}}<br>
weather : {{weather.weather[0].main}}<br>
<!-- <a routerLink="register">Register</a> -->
</div>